@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{

    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: hsl(212, 45%, 89%)

}
h1{
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    padding-top: 20px;
    font-size: 1.40625rem;
    text-align: center;
}

p{
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    padding: 20px 0px;
    font-size: 0.9735rem;
    text-align: center;
}

img{
    border-radius: 10px;
    width: 300px;
    height: 300px;
}
.container{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    max-width: 290px;
    padding: 20px;
    box-shadow: 0px 20px 20px 0px hsl(212, 35%, 85%);
}